@import "./variables.css";

/* .darkMode img {
  filter: invert(1) hue-rotate(180deg) brightness(115%); 
} */

.cautionNoteResponsive {
	display: block;
	text-align: center;
	font-size: 13px;
	border: 1px solid rgb(223, 124, 124);
	border-radius: var(--roundedCorners);
	padding: var(--padding);
	background-color: rgb(255, 218, 218, 10);
	color: rgb(175, 0, 0);
}

header {
	position: sticky;
	background-color: white;
	opacity: var(--popupOpacity);
	border: var(--mobileBorder);
	box-shadow: var(--boxShadow1);
	width: 100%;
	border-radius: var(--roundedCorners);
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	z-index: 2;
	padding: var(--padding) calc(var(--padding) * 2);
	top: calc(var(--margin) * 2);
	margin-bottom: calc(var(--margin) * 4);
	box-sizing: border-box;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px;
	padding: 0px;
}

.smaLogo {
	height: 50px;
	width: 50px;
	margin-right: 2px;
	user-select: none;
}

#gridContainer {
	display: grid;
	padding: none;
}
#loginPopUp {
	position: fixed;
	z-index: 3;
	height: auto;
	max-height: none;
	background-color: white;
	opacity: var(--popupOpacity);
	border-radius: calc(var(--roundedCorners) * 2);
	animation: popupAni var(--standardTransition);
}
#announcePopUp {
	position: fixed;
	z-index: 3;
	overflow-y: auto;
	padding: var(--padding);
	background-color: white;
	opacity: var(--popupOpacity);
	width: 80%;
	top: calc(10% - 25px);
	right: calc(13% - 25px);
	bottom: calc(10% - 25px);
	border-radius: calc(var(--roundedCorners) * 2);
	animation: popupAni var(--standardTransition);
}

#createPost {
	margin-bottom: 20px;
}
#announceObject {
	border: var(--mobileBorder);
	padding: calc(var(--padding) * 2);
	background-color: white;
	border-radius: var(--roundedCorners);
	overflow-y: auto;
}
#announcePosts {
	margin: 10px 0px 10px 0px;
}
#announcePosts > div {
	background-color: white;
	margin-bottom: var(--margin);
	border: var(--mobileBorder);
	border-radius: var(--roundedCorners);
	background-color: var(--grey);
	padding: var(--largeDesktopPadding);
}
#announcePosts > div > time {
	background-color: white;
	border: var(--mobileBorder);
}

/* Keyframes */
@keyframes popupAni {
	0% {
		transform: scale3d(0.2, 0.2, 0.2);
		box-shadow: 5px 5px -5px white;
	}
	40% {
		transform: scale3d(1.1, 1.1, 1.1);
		box-shadow: 1px 1px -5px white;
	}
	100% {
		transform: scale3d(1, 1, 1);
	}
}
@media only screen and (min-width: 1000px) {
	body {
		margin: 0px 5% 0px 5%;
	}
	h1 {
		font-size: 50px;
		margin: 0px;
	}
	#gridContainer {
		grid-template-columns: 2fr 3.5fr 1.5fr;
		/* grid-template-rows: none; */
		gap: calc(var(--containerGap) * 3);
	}
	#loginPopUp {
		margin: none;
		padding: var(--largeDesktopPadding);
		box-shadow: var(--boxShadow3);
		width: 50%;
		top: calc(25% - 25px);
		right: calc(25% - 25px);
	}
	#announcePopUp {
		margin: none;
		padding: var(--largeDesktopPadding);
		box-shadow: var(--boxShadow3);
	}
	#announceObject {
		height: 1000px;
	}
	#cautionNote {
		display: none;
	}
	.mobileErase,
	.tagButton {
		display: block;
	}
	.desktopErase {
		display: none;
	}
	#createPost {
		border-radius: calc(var(--roundedCorners) * 1.5);
		padding: var(--largeDesktopPadding);
		border: var(--mobileBorder);
		box-shadow: var(--boxShadow2);
	}
	.duoGrid {
		grid-template-columns: 1fr 1fr;
	}
	.versionGrid {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.close {
	float: right;
	border: none;
	border-radius: var(--roundedCorners);
	color: red;
	background-color: var(--red);
	padding: var(--miniBtnPadding);
}
.close::before {
	content: "✕ 閉じる";
}

#confirmDiv {
	border-radius: var(--roundedCorners);
	padding: var(--largeDesktopPadding);
	/* box-shadow: var(--lightDesktopBoxShadow); */
	border: var(--mobileBorder);
	margin-top: var(--margin);
	background-color: white;
	display: none;
}

input[type="text"],
input[type="date"],
input[type="password"],
textarea,
.post .commentsContainer section input {
	padding: var(--padding);
	border-radius: calc(var(--roundedCorners) / 1.5);
	border: solid var(--grey2) 2px;
	background-color: var(--grey);
	transition: var(--clickTransition);
	color: black;
	white-space: pre-line;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="password"]:focus,
textarea:focus,
.post .commentsContainer section input:focus {
	border: solid var(--darkBlue) 2px;
	background-color: white;
	outline: none;
}
input[type="file"] {
	padding: var(--padding);
	border-radius: calc(var(--roundedCorners) / 1.5);
	border: solid var(--grey) 2px;
	background-color: var(--grey2);
	transition: var(--clickTransition);
	color: black;
	white-space: pre-line;
}

/*Global CSS*/
.buttonsContainer,
#inputDiv,
#submitDiv {
	display: flex;
	justify-content: center;
	gap: var(--containerGap);
}

/* BUTTONS */
button:focus {
	outline: none;
}
.standardButton {
	border-radius: var(--roundedCorners);
	padding: var(--btnPadding);
	border: none;
	font-weight: bold;
}
#langButton {
	display: flex;
	align-items: center;
	font-weight: bold;
	border-radius: calc(var(--roundedCorners) / 2);
	background-color: var(--grey2);
	padding: var(--miniBtnPadding);
	border: none;
}
.tagButton {
	border-radius: var(--roundedCorners);
	padding: var(--longBtnPadding);
	border: none;
	font-weight: bold;
}
.tagButton::before {
	content: "# ";
}

/* SIDEBAR CSS */
#additionalSites,
.bigButtons {
	gap: var(--containerGap);
	display: grid;
	grid-template-columns: 1fr;
	font-weight: bold;
}

#additionalSites > button {
	padding: var(--padding);
	border-radius: calc(var(--roundedCorners) / 2);
	background-color: var(--grey);
	font-weight: bold;
	border: none;
}

.bigButtons > button {
	width: 100%;
	padding: var(--largeDesktopPadding);
}

/*Malleable Content*/
.post {
	border-radius: var(--roundedCorners);
	padding: var(--largeDesktopPadding);
	background-color: white;
	border: var(--mobileBorder);
	margin-bottom: var(--margin);
}
/* POST COMPONENT */
.loTag {
	background-color: var(--red);
}
.post .viewPostBtn,
.post .likeBtn,
.post .commentBtn {
	display: flex;
	align-items: center;
	opacity: 0;
	font-weight: bold;
	border-radius: calc(var(--roundedCorners) / 2);
	background-color: var(--grey2);
	padding: var(--miniBtnPadding);
	border: none;
}

.commentSign {
	color: green;
	background-color: var(--green);
}
.post .commentsDisplay {
	margin: 0;
	padding: 0;
	display: none;
}
.post .commentsContainer {
	margin-top: calc(var(--containerGap) * 2);
}
.post .commentsContainer div {
	display: flex;
	align-items: center;
	gap: calc(var(--containerGap) / 2);
	box-shadow: var(--boxShadow1);
	padding: var(--padding);
	border-radius: calc(var(--roundedCorners) / 2);
	margin: var(--containerGap) 0px;
	animation: waveAni calc(var(--standardTransition) / 2) ease-in;
}

/* .post .commentsContainer div img {
	width: 30px;
	height: 30px;
	border-radius: calc(var(--roundedCorners) * 10);
	border: solid white 1px;
	margin: 0px;
	margin-right: 10px;
	box-shadow: var(--boxShadow1);
} */
.post .commentsContainer section {
	display: flex;
	align-items: stretch;
	gap: calc(var(--containerGap) / 2);
}

.post .commentsContainer section button {
	display: flex;
	align-items: center;
	font-weight: bold;
	border-radius: calc(var(--roundedCorners) / 2);
	color: green;
	background-color: var(--green);
	padding: var(--miniBtnPadding);
	border: none;
}
/* .post .material-icons {
	font-size: 16px;
} */

.post .postBtnContainer {
	gap: calc(var(--containerGap) / 2);
	display: flex;
	align-items: center;
	flex-direction: row;
}

@keyframes likeAni {
	0% {
		background-color: rgb(255, 180, 202);
		clip-path: circle(0% at 0% 100%);
		opacity: 0%;
	}
	100% {
		clip-path: circle(100%);
		opacity: 100%;
	}
}
#loggedIn .post:hover .viewPostBtn,
#loggedIn .post:hover .likeBtn,
#loggedIn .post:hover .commentBtn {
	opacity: 1;
}
.post .postBtnContainerDisplay {
	display: none;
}
#loggedIn .post .postBtnContainerDisplay {
	display: block;
}

.viewPostBtn {
	float: right;
	transition: var(--clickTransition);
}

.post h3 {
	margin-bottom: 5px;
}
.rankedPost h4 {
	margin-top: 3px;
	margin-bottom: 7px;
}
.post h5,
.rankedPost h5 {
	margin-top: 5px;
	margin-bottom: 5px;
}
.post h5::after {
	content: "：作";
}
.rankedPost h5::after {
	content: "さん、おめでとうこざいます！";
}
.post pre,
#announcePosts > div > pre {
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}
.post a {
	padding: 1px 5px 1px 5px;
	background-color: var(--grey);
	top: 10px;
	bottom: 10px;
	border-radius: calc(var(--roundedCorners) * 0.5);
	text-decoration: none;
}

.post .casMiniTag,
.post .saaMiniTag,
.rankedPost .casMiniTag,
.rankedPost .saaMiniTag {
	padding: var(--postTagPadding);
	border-radius: calc(var(--roundedCorners) / 2);
	margin-left: 5px;
}

time {
	color: rgb(80, 80, 80);
	background-color: var(--grey);
	padding: var(--postTagPadding);
	border-radius: calc(var(--roundedCorners) / 2);
}
a {
	color: grey;
}
a:hover {
	font-weight: bold;
}
h5 {
	font-weight: normal;
}

.postBtnGrid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: var(--margin);
	margin-bottom: 10px;
}

/* SIDEBAR */
.sidebarBoxes > section {
	margin-bottom: var(--containerGap);
}
.iconTitle {
	margin: 0px;
	display: flex;
	align-items: center;
}

.iconTitle h4 {
	width: fit-content;
	margin: 2px;
}
.sidebarBox {
	border-radius: var(--roundedCorners);
	margin-bottom: var(--containerGap);
	padding: var(--largeDesktopPadding);
	background-color: white;
	border: var(--mobileBorder);
}
.sidebarBox .iconTitle {
	margin-top: 0px;
	margin-bottom: calc(var(--margin) * 2);
}

/*TOGGLE*/
#DtoL,
#LtoD {
	position: relative;
	padding: var(--padding) calc(var(--padding) * 1.5);
	width: auto;
	border-radius: var(--roundedCorners);
	border: none;
	/* background-color: var(--grey2); */
	background-color: var(--grey);
}

#loENG,
#loJPN {
	max-width: 350px;
	counter-reset: loCounter;
	list-style: none;
	padding-left: 0;
}
#loENG li,
#loJPN li {
	counter-increment: loCounter;
	position: relative;
	padding-left: 50px;
	margin-bottom: 5px;
}

#loENG li:before,
#loJPN li:before {
	content: counter(loCounter);
	/* background: var(--grey2); */
	background-color: var(--grey);
	color: black;
	font-weight: bold;

	padding: 0px 15px 0px 15px;
	border-radius: 50px;
	text-align: center;
	position: absolute;
	left: 0px;
}

#filter {
	margin: 20px 0px 20px 0px;
	display: flex;
	gap: 5px;
}

summary {
	outline: none;
	cursor: pointer;
	user-select: none;
}
.sidebarBox summary {
	font-size: 17px;
	font-weight: bold;
}

.load-wave {
	animation: waveAni 0.5s ease-in;
}
@keyframes waveAni {
	0% {
		clip-path: circle(0% at 0% 0%);
		opacity: 50%;
	}
	100% {
		clip-path: circle(100%);
		opacity: 100%;
	}
}

.loadingAni,
.loadObject {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: white;
}
.loadingAni {
	z-index: 4;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}
.loadingAni div {
	z-index: 5;
	width: 45px;
	height: 45px;
	background-color: black;
	animation: loadAni 1s infinite;
}

.loadObject {
	z-index: 3;
}
@keyframes loadAni {
	0% {
		background-color: rgb(49, 49, 49);
		transform: rotate(0deg);
		border-radius: 10px;
	}
	70% {
		background-color: black;
		transform: rotate(180deg);
		border-radius: 30px;
	}
	100% {
		background-color: rgb(49, 49, 49);
		transform: rotate(360deg);
		border-radius: 10px;
	}
}
.loadObject div {
	margin-top: 10%;
	margin-bottom: 20px;
	font-weight: bold;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 15px;
}

.tableOfContents {
	user-select: none;
	border-radius: var(--roundedCorners);
	padding: var(--largeDesktopPadding);
	background-color: white;
	box-shadow: var(--boxShadow1);
}

#whenSignedIn img {
	width: 40px;
	height: 40px;
	border-radius: calc(var(--roundedCorners) * 10);
	border: solid white 2px;
	margin: 0px;
	margin-right: 10px;
	box-shadow: var(--boxShadow1);
}

.darkMode #whenSignedIn img {
	border: solid black 2px;
	filter: invert(1) hue-rotate(180deg) brightness(115%);
}

.darkMode iframe {
	filter: invert(1) hue-rotate(180deg) brightness(115%);
}

#addFeature {
	margin-top: calc(var(--margin) * 2);
}
#addFeature div {
	gap: var(--containerGap);
	display: grid;
	grid-template-columns: 1fr 1fr;
}
#postButtons button,
#addFeature div button,
#addSite button {
	padding: var(--largeDesktopPadding) 10px var(--largeDesktopPadding) 10px;
	user-select: none;
}

#announcePlaceholder {
	border-radius: var(--roundedCorners);
	border: var(--mobileBorder);
	padding: var(--padding);
	height: fit-content;
}
#announcePlaceholder p {
	padding: var(--padding);
}

.duoGrid {
	display: grid;
	gap: calc(var(--containerGap) * 3);
}

.easterPopup {
	margin: none;
	width: 50%;
	height: auto;
	border-radius: 20px;
	padding: 20px;
	background-color: white;
	opacity: var(--popupOpacity);
	max-height: none;
	box-shadow: 5px 5px 20px #636363;
	z-index: 2;
	position: fixed;
	top: calc(25% - 70px);
	right: calc(25% - 25px);
}
.easterButton {
	float: right;
	margin: 10px;
	display: none;
	border-radius: 50px;
	border: 0px;
	padding: 5px;
}

.iconHolder {
	border-radius: var(--roundedCorners);
	margin-right: var(--margin);
	box-shadow: var(--boxShadow1);
	background-color: white;
	font-size: 30px;
	padding: calc(var(--padding) / 2);
}

.infoContainer section {
	background-color: var(--grey);
	border-radius: var(--roundedCorners);
	padding: calc(var(--padding) / 2) var(--padding);
	margin-bottom: var(--containerGap);
}

.greyBack div {
	background-color: var(--grey);
}
.greyBorder div {
	border: var(--desktopBorder);
}

.versionGrid h3 {
	margin-top: 5px;
}

.versionGrid div .material-icons,
.versionGrid section .material-icons {
	margin-top: 10px;
	font-size: 36px;
}
